.width100 {
    height: 100% !important; 
    width: 100% !important;
}
/* .sapUiView {
    display: block !important;
} */
.sapMNav {
    overflow: hidden;
    position: relative;
    height: 100%;
    top: -18px;
}
.bg-clr-white{
	background-color: #fff !important;
}
.bg-clr-lghtGry{
	background-color: #eee !important;
}
.bg-clr-green{
	background-color: #4DA74D !important;
}
.bg-clr-blue{
	background-color: #5592be !important;
}
.bg-clr-orange{
	background-color: #ddb561 !important;
}
.bg-clr-brown{
	background-color: #c98764 !important;
}
.clr-white{
	color: #fff !important;
}
.sapMPageHeader::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    border-top: 0 solid #fff !important;
    z-index: 7;
}
.sapMStdTileTitle {
    color: #fff;
    text-align: center;
}
.sapMTile:focus {
    outline: 0px dotted #005483 !important;
}
.sapMTile.sapMTileActive {
    background: #005483 !important;
}
.sap-phone .sapMStdTileTitle {
    line-height: 1.2rem;
    font-size: .875rem;
    height: 5rem !important;
    margin-bottom: 0;
}
.trans3d{
	    transform: translate3d(35px, 62px, 0) !important;
}
.Show{
	display:iniline-block !important;
}
.Hide{
	display:none !important;
}
.img-padd{
	padding: 0px 0 0 40px !important;
    width: 38% !important;
}
.backgroundimg1 {
	background-image : url('../images/bg1.png');
	background-size : cover;
}
.backgroundimg2 {
	background-image : url('../images/bg2.png');
	background-size : cover;
}
.backgroundimg3 {
	background-image : url('../images/bg3.png');
	background-size : cover;
}
.backgroundimg4 {
	background-image : url('../images/bg4.png');
	background-size : cover;
}
.backgroundimg5 {
	background-image : url('../images/bg5.png');
	background-size : cover;
}
.backgroundimg6 {
	background-image : url('../images/bg6.png');
	background-size : cover;
}
.backgroundimg7 {
	background-image : url('../images/bg7.png');
	background-size : cover;
}
.backgroundimg8 {
	background-image : url('../images/bg8.png');
	background-size : cover;
}
.backgroundimg9 {
	background-image : url('../images/bg9.png');
	background-size : cover;
}
.backgroundimg10 {
	background-image : url('../images/bg10.png');
	background-size : cover;
}
.backgroundimg11 {
	background-image : url('../images/bg11.png');
	background-size : cover;
}
.sapMStdTileIconDiv {
    color: #007cc0;
    padding-top: 18px;
    float: none;
    margin: auto;
    display: table;
}
.padd-Rght26{
	padding-right: 26px;
}
/* .top12{
	top: -12px !important;
} */
.sapMTCInner,.sapMTCScroller,.sapMTCLeft,.sapMTCLeft{
  visibility: hidden !important;
}
/* .sapMTC .sapMTCPager {
    position: absolute;
    bottom: 40px;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    padding: 5px;
    text-align: center;
} */
.sapMTC .sapMTCEdgeLeft,.sapMTC .sapMTCEdgeRight{
    width: 0px !important;
}
html.sap-desktop .sapMBtn:focus>.sapMFocusable {
    outline: 0px dotted #005483 !important;
}
.page1-Btn .sapMBtnIcon{
	color: #fff !important;
}
.page1-Btn .sapMBtnIcon:hover {
	background: #fff !important;
    color: #5592be !important;
}
/* .page2-Btn .sapMBtnIcon{
	color: #fff !important;
}
.page2-Btn .sapMBtnIcon:hover {
	background: #fff !important;
    color: #ddb561 !important;
}
.page3-Btn .sapMBtnIcon{
	color: #fff !important;
}
.page3-Btn .sapMBtnIcon:hover {
	background: #fff !important;
    color: #c98764 !important;
} */
.sapMSltPressed>.sapMSltArrow {
    background: #fff !important;
}
.sapMSelectListItemBaseSelected {
    background: #4DA74D !important;
    color: #fff !important;
}
.sapMSelectListItemBaseHoverable:hover {
    background: #f0f0f0;
}
.sap-desktop .sapMSlt:not(.sapMSltDisabled):focus {
    border-color: #fff !important;
}
.sapMBtnInner .sapMBtnActive{
	background-color: yellow !important;
}